<h1 class="page-title">All Shelters</h1>

<div class="shelters-list-header">
  <%= link_to "Sort by number of pets", "/shelters?sort=pet_count" %>

  <%= form_with url: "/shelters", method: :get, local: true, data: {turbo: false} do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<div class="list">
  <% @shelters.each do |shelter| %>
    <div id="shelter-<%= shelter.id %>" class="list-item">
      <h3><%= shelter.name %></h3>
      <p>Created at: <%= shelter.created_at %></p>
      <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
      <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
    </div>
  <% end %>
</div>
