<h1 class="page-title">Adoption Application For: <%= @adoption_application.name %></h1>

<div class="applicant-info">
  <h3>Address: <%= @adoption_application.street_address %> 
    <%= @adoption_application.city %>,
    <%= @adoption_application.state %> 
    <%= @adoption_application.zip_code %></h3>
  <h3>Description: <%= @adoption_application.description %></h3>
  <h3>Status: <%= @adoption_application.status %></h3>
</div>

<% if @pets.any? %>
  <div class="pet-list">
    <h3>Pets applied for:</h3>
    <ol>
      <% @pets.each do |pet| %>
        <li>
          <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<% if @adoption_application.status == "In Progress" %>
  <div class="add-pet">
    <h3> Add a Pet to this application </h3>
    <%= form_with url: "/adoption_applications/#{@adoption_application.id}", method: :get, data: {turbo: false}, class: "search-form" do |form| %>
      <%= form.label :search, "Search pets by name: " %>
      <%= form.text_field :search %>
      <%= form.submit "find pet" %>
    <% end %>
  </div>
<% end %>

<% if @pets_search.present? %>
  <div class="list">
    <% @pets_search.each do |pet| %>
      <div class="list-item">
        <h3><%= pet.name %></h3>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <p>Adoptable: <%= pet.adoptable %></p>
        <p>You can find <%= pet.name %> at <%= pet.shelter.name %>!</p>
        <%= form_with url: "/adoption_applications/#{@adoption_application.id}", method: :get, data: {turbo: false} do |form| %>
          <%= form.hidden_field :adopt_pet_id, value: "#{pet.id}" %>
          <%= form.submit "Adopt", class: "adopt" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% elsif @pets_search.blank? && @pets_search != false %>
  <p> Could not find pet by that name. </p>
<% end %>

<% if @adoption_application.pets.any? && @adoption_application.status == "In Progress" %>
  <section id="submit_your_application">
  <h2> Submit your application </h2>
  <%= form_with url: "/adoption_applications/#{@adoption_application.id}", method: :patch, data: {turbo: false} do |form| %>
    <%= form.label "Why would you make a good owner for these pet(s):" %>
    <%= form.text_area :description%>
    <%= form.submit "Submit your Application" %>
  <% end %>
  </section>
<% end %>