<h1>Name: <%= @adoption_application.name %></h1>
<h3>Address: <%= @adoption_application.street_address %> 
  <%= @adoption_application.city %>,
  <%= @adoption_application.state %> 
  <%= @adoption_application.zip_code %></h3>
<h3>Description: <%= @adoption_application.description %></h3>
<h3>Status: <%= @adoption_application.status %></h3>
<h3>Pets applied for:</h3>
<ol>
  <% @adoption_application.pets.each do |pet| %>
    <li>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    </li>
  <% end %>
</ol>

<p><%= link_to "Update #{@adoption_application.name}", "adoption_applications/#{@adoption_application.id}/edit" %></p>
<p><%= link_to "Delete #{@adoption_application.name}", "@adoption_applications/#{@adoption_application.id}", method: :delete %></p>
