<h1 class="page-title">Shelters list</h1>

<div class="list">
  <% @shelters.each do |shelter| %>
    <div class="list-item">
      <h3><%= shelter.name %></h3>
      <p><%= shelter.city %></p>
      <p>Foster program: <%= shelter.foster_program %></p>
      <p>Rank: <%= shelter.rank %></p>
    </div>
  <% end %>
</div>

<div class="pending-applications">
  <h2 class="center-header">Shelters with pending applications</h2>
  <ul>
    <% @shelters_with_pending.each do |shelter| %>
      <li class="pending-shelter"><%= shelter.name %></li>
    <% end %>
  </ul>
</div>