<h2>Shelters list</h3>

<div class="shelters-list">
  <% @shelters.each do |shelter| %>
    <div class="shelters-line-item">
      <h3><%= shelter.name %></h3>
      <p><%= shelter.city %></p>
      <p>Foster program: <%= shelter.foster_program %></p>
      <p>Rank: <%= shelter.rank %></p>
    </div>
  <% end %>
</div>

<div class="pending-applications">
  <h2>Shelters with pending applications</h2>
  <% @pending_applications.each do |shelter, application_list| %>
    <div id="shelter-<%= shelter.id %>">
      <h3><%= shelter.name %></h3>
      <% application_list.each do |application| %>
        <div class="application-line-item">
          <p><strong><%= application.name %></strong></p>
          <p><%= application.street_address %>, <%= application.city %>, <%= application.state %>, <%= application.zip_code %></p>
          <p>Why they would make a good owner:</p>
          <p class="indent-p"><%= application.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>