<h1> Application </h1>

<h3> Name: <%= @adoption_application.name %> </h3>
<h3>Address: <%= @adoption_application.street_address %> 
  <%= @adoption_application.city %>,
  <%= @adoption_application.state %> 
  <%= @adoption_application.zip_code %></h3>
<h3>Description: <%= @adoption_application.description %></h3>
<h3>Status: <%= @adoption_application.status %></h3>

<h2> Pets on Application </h2>
<% @application_pets.each do |application_pet| %>
  <%= link_to "#{application_pet.pet.name}", "/pets/#{application_pet.pet.id}" %>
    <% if application_pet.status.nil? %>
      <li> <%= form_with url: "/admin/application_pets/#{application_pet.id}", method: :patch do |form| %>
        <%= form.hidden_field :status, value: "Approved" %>
        <%= form.hidden_field :adoption_application_id, value: application_pet.id %>
      
        <%= form.submit "Approve #{application_pet.pet.name}" %> </li>
      <% end %>

      <li> <%= form_with url: "/admin/application_pets/#{application_pet.id}", method: :patch do |form| %>
        <%= form.hidden_field :status, value: "Rejected" %>
        <%= form.hidden_field :adoption_application_id, value: application_pet.id %>
      
        <%= form.submit "Reject #{application_pet.pet.name}" %> </li>
      <% end %>

    <% else %>  
      <h3> application_pet.status </h3>
    <% end %>
<% end %>