<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="navbar">
      <%= link_to "Pets", "/pets" %>
      <%= link_to "Shelters", "/shelters" %>
      <%= link_to "Veterinarians", "/veterinarians" %>
      <%= link_to "Veterinary Offices", "/veterinary_offices" %>
    </section>
   
    <% flash.each do |type, msg| %>
      <div class="flash">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
